<md-content layout="column">
    <md-list flex>
        <md-subheader class="md-no-sticky">3 line item</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="event in events">
            <img ng-src="{{event.cover.source}}" class="md-avatar" alt="" />
            <div class="md-list-item-text" layout="column">
                <h3>{{ event.name }}</h3>
                <h4>{{ event.description }}</h4>
                <p>{{ event.start_time }}</p>
            </div>
        </md-list-item>
</md-content>