
<div layout="row">

    <div id="fixIt">
        <div class="fixHolder">
            <img src="img/bg/fix.jpg" alt="We can fix it"/>
        </div>
        <div class="fixText">
            <p>Our complete repair shop is now up and running. From refrets and neck resets to vintage restoration and custom instrument builds. Luthiers Mark Franzke and Ted Kritikos are ready to tackle whatever you bring us. We'll make that old guitar play like butter or bring that old banjo back to life. Bring it in and let's have a look!</p>
        </div>
    </div>
</div>
<!--div id="featured">
    <div class="instrument">
        <span class="clickable" ng-click="filterBanjo()"><img src="img/bg/banjos.png" alt="Banjos"/></span>
        <span class="instLink clickable" ng-click="filterBanjo()">
            &#65515; Banjos
        </span>
    </div>

    <div class="instrument">
        <span class="clickable" ng-click="filterMando()"><img src="img/bg/mandolins.png" alt="Mandolins"/></span>
        <span class="instLink clickable" ng-click="filterMando()">
            &#65515; Mandolins
        </span>
    </div>

    <div class="instrument lastBox">
        <span class="clickable" ng-click="filterGuitar()"><img src="img/bg/guitars.png" alt="Guitars"/></span>
        <span class="instLink clickable " ng-click="filterGuitar()">
            &#65515; Guitars
        </span>
    </div>
    <div class="clear"></div>
</div-->



<div id="location">
    <div class="locationLeft">
        <img src="img/bg/shop.jpg"/>
    </div>

    <div class="locationRight">
        <h2>Come Visit us</h2>
        <p>Our store is open Tuesday - Friday 11-6 and Saturday 10 - 4. We have the largest selection of banjos and mandolins in the area, plus accessories and fun merchandise.</p>
        <p>Need setup and repair or even instrument building advice? We can help. Bring it by and let's have a look.</p>
        <p>Want us to build or help you build your dream banjo? We have tone rings, rims, necks, resonators and every part in between </p>
    </div>
    <div class="clear"></div>
</div>