<div id="mainImage">
    <img src="img/bg/bg.png" alt="Purveyors and makers of fine banjos, mandolins and guitars."/>
</div>

<div id="featured">
    <div class="instrument">
        <a ui-sref="banjos"><img src="img/bg/banjos.png" alt="Banjos"/></a>
        <a class="instLink" ui-sref="banjos">
            &#65515; Banjos
        </a>
    </div>

    <div class="instrument">
        <a ui-sref="mandos"><img src="img/bg/mandolins.png" alt="Mandolins"/></a>
        <a class="instLink" ui-sref="manods">
            &#65515; Mandolins
        </a>
    </div>

    <div class="instrument lastBox">
        <a ui-sref="guitars"><img src="img/bg/guitars.png" alt="Guitars"/></a>
        <a class="instLink" ui-sref="guitars">
            &#65515; Guitars
        </a>
    </div>
    <div class="clear"></div>
</div>

<div id="fixIt">
    <div class="fixHolder">
        <img src="img/bg/fix.jpg" alt="We can fix it"/>
    </div>
    <div class="fixText">
        <p>Our complete repair shop is now up and running. From refrets and neck resets to vintage restoration and custom instrument builds. Luthiers Mark Franzke and Ted Kritikos are ready to tackle whatever you bring us. We'll make that old guitar play like butter or bring that old banjo back to life. Bring it in and let's have a look!</p>
    </div>
</div>

<div id="location">
    <div class="locationLeft md-whiteframe-3dp">
        <img src="img/bg/shop.jpg"/>
    </div>

    <div class="locationRight">
        <h2>Come Visit us</h2>
        <p>Our store is open Tuesday - Friday 11-6 and Saturday 10 - 4. We have the largest selection of banjos and mandolins in the area, plus accessories and fun merchandise.</p>
        <p>Need setup and repair or even instrument building advice? We can help. Bring it by and let's have a look.</p>
        <p>Want us to build or help you build your dream banjo? We have tone rings, rims, necks, resonators and every part in between </p>
    </div>
    <div class="clear"></div>
</div>