<div layout="row" layout-align="center">
    <h1>{{item.name}}</h1>
</div>
<div layout-gt-sm="space around" layout-lt-md="column" layout-align="center start" layout-padding >
    <div class="md-whiteframe-1dp" layout="column" ng-class="classes.img">
        <div class="fotorama" data-nav="thumbs">
            <img ng-repeat="image in images" ng-src="img/inventory/{{image.folderId}}/{{image.itemId}}.png">
        </div>
        <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    </div>
    <div layout="column" layout-lt-md="column" layout-align="center center" ng-class="classes.desc">
        <p >{{item.description}}</p>
        <div class="price md-whiteframe-2dp">${{item.price}}</div>
        <div layout="row">
            <md-button class="md-primary md-raised backButton" ng-click="contact(item)">Inquire</md-button>
            <md-button class="md-raised backButton"><md-icon class="material-icons">left</md-icon> Back to {{type}}</a></md-button>
        </div>
    </div>
    <div layout="column" class="md-whiteframe-3dp" layout-align="center" ng-class="classes.recent">
        <h2>Recently Viewed</h2>
        <div class="recentItem" ng-repeat="rvItem in recentlyViewed">
            <div class="recentThumb">
                <img ng-src="img/inventory/{{rvItem.id}}/1.png"/>
            </div>
            <h3>{{rvItem.name}}</h3>
            <a href="#/inventory/{{rvItem.id}}">View Again</a>
            <div class="clear"></div>
        </div>
    </div>
</div>
