
<div layout="row">
    <div layout="column" layout-gt-md="row" >
            <div layout="row" layout-align="center" layout-padding>
                <div class="fotorama" data-nav="thumbs" style="width:300px">
                    <img ng-repeat="image in images" ng-src="img/inventory/{{image.folderId}}/{{image.itemId}}.png">
                </div>
                <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
                <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
            </div>
            <div layout="column" layout-padding layout-margin>
                <h1>{{item.name}} </h1>
                <p data-ng-bind-html="description"  >{{description}}</p>
                <div class="price">${{item.price}}</div>
                <div layout="row" layout-align="space-around">
                    <md-button  class="backButton">
                        Back to {{type}}
                    </md-button>
                    <md-button ng-click="openInquire(item)"  class="backButton">
                        Inquire
                    </md-button>
                </div>
            </div>
        <div>
    </div>

    <md-divider></md-divider>
    <div layout="column" layout-padding ng-show="isLargeScreen">
        <h2>Recently Viewed</h2>
        <div class="recentItem" ng-repeat="rvItem in recentlyViewed">
            <div class="recentThumb">
                <img ng-src="img/inventory/{{rvItem.id}}/1.png"/>
            </div>
            <h3>{{rvItem.name}}</h3>
            <a href="#/inventory/{{rvItem.id}}">View Again</a>
            <div class="clear"></div>
        </div>
    </div>

    <div class="clear"></div>

</div>